.navbar{
    /* position: fixed; */
    /* top:0; */
    /* z-index: ; */
    /* background-color: #5b7bb2; */
    width: 100%;
    height: 7vh;
    background-image: radial-gradient(circle, #051937, #0f3355, #1a5073, #276e90, #388eac);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.nav{
    /* margin:0%; */
    /* position: absolute; */
    margin-left: 5vh;
}

.title{
    float: left;
    margin-top: 1.1vh;
    margin-bottom: 0.2vh;
    font-size: 3vh;
    /* width:1px; */
}

.time{
    float: right;
    margin-right: 5vh;
    margin-top: 2vh;
    font-size: 2vh;
    font-weight: 700;
}

.header{
    float: left;
    /* margin-top: 0.1vh; */
    margin-left: 1vh;
    font-weight: bolder;
    font-variant: small-caps;
    text-decoration: underline;
    text-align: center;
}

#logo{
    float: left;
    /* margin-top: 2%; */
    /* position: absolute; */
    /* margin-right: 1%; */
    /* position: relative; */
    /* margin-top:0.1%; */
    /* left: 0%; */
    width:6vh;
    border-radius: 5vh;
}